@model IEnumerable<CenturyCars.Domain.Entities.Car>

@{
    ViewBag.Title = " Cars List";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}






<div>
    @foreach (var item in Model)
    {
        <div class="photo-body">
            <div class="photo-container">
                <div class="photo-container-inner">
                    <p id="photo-head"> @item.Manufacturer.Name - @item.Name</p>
                    <a href='@Url.Action("Details", "Home", new { id = item.CarID })'>
                        <img class="Image" src="@Url.Content(@item.ImagePath)" />
                    </a>
                </div>
            </div>
        </div>

    }
</div>



